.bg-modal {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  font-size: 16px;
}

.modal-login {
  position: absolute;
  background-color: #fff;
  width: 520px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.modal-login .header {
  text-align: center;
  border-bottom: 1px solid #c4c4c4;
  padding: 20px 24px 18px;
}

.modal-login .header h2 {
  font-weight: 500;
}

.cont-login-controls {
  padding: 25px 24px;
}

.form-login .txt-greet {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}

.input-pw {
  margin: 10px 0;
}

.login-hold {
  display: none;
}

.login-hold + label {
  line-height: 22px;
  color: #767676;
}

.login-hold + label::before {
  content: " ";
  float: left;
  margin-right: 8px;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon_check_empty.png");
}

.login-hold:checked + label::before {
  background-image: url("../img/icon_check.png");
}

.more-actions {
  margin: 20px 0 30px;
  padding: 1px 0;
  text-align: center;
}

.more-actions a {
  font-size: 14px;
  text-decoration: none;
  color: #767676;
}

.more-actions a:first-of-type::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  margin: 0 12px;
  height: 14px;
  width: 1px;
  background-color: #767676;
}

.modal-login .txt-or {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -1em 20px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #767676;
}

.modal-login .txt-or::before,
.modal-login .txt-or::after {
  content: " ";
  flex-grow: 1;
  margin: 0 1em;
  height: 1px;
  background-color: #c4c4c4;
}

.btn-modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
}
