/* import */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* reset */

* {
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body,
p {
  margin: 0;
  padding: 0;
}

/* style */
body {
  font-size: 12px;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.log-in {
  margin: 30px 25px;
  padding: 19px 16px 18px 16px;
  width: 350px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}

.log-in .log-in__txt {
  margin-bottom: 15px;
}

.log-in .log-in__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 16px;
  padding: 10px 12px 12px 12px;
  border-radius: 4px;
  background-color: #711bff;
  color: white;
  text-decoration: none;
}

.log-in .log-in__button img {
  height: 18px;
}

.log-in .log-in__more-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log-in .log-in__more-action a {
  text-decoration: none;
  color: #767676;
  vertical-align: middle;
}

.log-in .log-in__more-action .find-id-pw,
.log-in .log-in__more-action .sign-up {
  display: flex;
  align-items: center;
}

.log-in .find-id-pw::before {
  display: inline-block;
  content: "";
  background-image: url(svg/icon-lock.svg);
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.log-in .find-id-pw .find-id::after {
  content: "\007C";
  margin: 0 4px;
}

.log-in .sign-up::before {
  display: inline-block;
  content: "";
  background-image: url(svg/icon-user.svg);
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
